# Aula 04

Nesta aula, trabalharemos com dados de uma estação de monitoramento da qualidade do ar em SP. Faremos as seguintes etapas:

* Formatação do arquivo em um dataframe
* Detecção de falhas
* Interpolação
* Estatística bivariada
* Regressão

In [38]:
# Importando bibliotecas
import pandas as pd
import numpy as np

In [41]:
# Abrindo a planilha
path = r"C:\Users\Leonardo.Hoinaski\Documents\ENS410064\2024\dados\1728675725931.csv"
data = pd.read_csv(path,header = 6, sep=';',encoding='latin-1')
data.head()

,Unnamed: 0,Unnamed: 1,MP2.5(Partículas Inaláveis Finas) - µg/m3,NO2(Dióxido de Nitrogênio) - µg/m3,O3(Ozônio) - µg/m3
0,01/01/2023,01:00,23.0,22.0,33.0
1,01/01/2023,02:00,60.0,35.0,6.0
2,01/01/2023,03:00,95.0,27.0,1.0
3,01/01/2023,04:00,64.0,27.0,1.0
4,01/01/2023,05:00,52.0,20.0,1.0

In [45]:
# Fazendo o merge das headers 
print(data.columns.to_list())
header = data.columns.to_list()
header[0:2] = ['date','hour']
print(header)

['Unnamed: 0', 'Unnamed: 1', 'MP2.5(Partículas Inaláveis Finas) - µg/m3', 'NO2(Dióxido de Nitrogênio) - µg/m3', 'O3(Ozônio) - µg/m3']
['date', 'hour', 'MP2.5(Partículas Inaláveis Finas) - µg/m3', 'NO2(Dióxido de Nitrogênio) - µg/m3', 'O3(Ozônio) - µg/m3']