# Aula 04

Nesta aula, trabalharemos com dados de uma estação de monitoramento da qualidade do ar em SP. Faremos as seguintes etapas:

* Formatação do arquivo em um dataframe
* Detecção de falhas
* Interpolação
* Estatística bivariada
* Regressão

In [ ]:
# Importando bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
# Abrindo a planilha
path = r"C:\Users\Leonardo.Hoinaski\Documents\ENS410064\2024\dados\1728675725931.csv"
data = pd.read_csv(path,header = 6, sep=';',encoding='latin-1')
data.head()

,Unnamed: 0,Unnamed: 1,MP2.5(Partículas Inaláveis Finas) - µg/m3,NO2(Dióxido de Nitrogênio) - µg/m3,O3(Ozônio) - µg/m3
0,01/01/2023,01:00,23.0,22.0,33.0
1,01/01/2023,02:00,60.0,35.0,6.0
2,01/01/2023,03:00,95.0,27.0,1.0
3,01/01/2023,04:00,64.0,27.0,1.0
4,01/01/2023,05:00,52.0,20.0,1.0

In [46]:
# Fazendo o merge das headers 
print(data.columns.to_list())
header = data.columns.to_list()
header[0:2] = ['date','hour']
print(header)

# Renomeando as colunas
data.columns = header
data.head()

['Unnamed: 0', 'Unnamed: 1', 'MP2.5(Partículas Inaláveis Finas) - µg/m3', 'NO2(Dióxido de Nitrogênio) - µg/m3', 'O3(Ozônio) - µg/m3']
['date', 'hour', 'MP2.5(Partículas Inaláveis Finas) - µg/m3', 'NO2(Dióxido de Nitrogênio) - µg/m3', 'O3(Ozônio) - µg/m3']

,date,hour,MP2.5(Partículas Inaláveis Finas) - µg/m3,NO2(Dióxido de Nitrogênio) - µg/m3,O3(Ozônio) - µg/m3
0,01/01/2023,01:00,23.0,22.0,33.0
1,01/01/2023,02:00,60.0,35.0,6.0
2,01/01/2023,03:00,95.0,27.0,1.0
3,01/01/2023,04:00,64.0,27.0,1.0
4,01/01/2023,05:00,52.0,20.0,1.0

In [47]:
# Acessando os valores

data['MP2.5(Partículas Inaláveis Finas) - µg/m3']

0       23.0
1       60.0
2       95.0
3       64.0
4       52.0
        ...
8755    11.0
8756     6.0
8757     6.0
8758     2.0
8759     0.0
Name: MP2.5(Partículas Inaláveis Finas) - µg/m3, Length: 8760, dtype: float64

In [48]:
# Usando iloc

data.iloc[:,2]

0       23.0
1       60.0
2       95.0
3       64.0
4       52.0
        ...
8755    11.0
8756     6.0
8757     6.0
8758     2.0
8759     0.0
Name: MP2.5(Partículas Inaláveis Finas) - µg/m3, Length: 8760, dtype: float64

In [52]:
# Trabalhando com as datas

data['datetimes'] =  pd.to_datetime(data['date'], format="%d/%m/%Y")
data.head()

,date,hour,MP2.5(Partículas Inaláveis Finas) - µg/m3,NO2(Dióxido de Nitrogênio) - µg/m3,O3(Ozônio) - µg/m3,datetimes
0,01/01/2023,01:00,23.0,22.0,33.0,2023-01-01
1,01/01/2023,02:00,60.0,35.0,6.0,2023-01-01
2,01/01/2023,03:00,95.0,27.0,1.0,2023-01-01
3,01/01/2023,04:00,64.0,27.0,1.0,2023-01-01
4,01/01/2023,05:00,52.0,20.0,1.0,2023-01-01

In [54]:
# Checando se o arquivo possui todas as horas medidas
print(data.shape)
print(24*365)

(8760, 6)
8760

In [57]:
# Checando se existem dados faltantes
print(np.sum(data.iloc[:,2].isna()))

96

In [ ]:
# Plotando a serie